@model IEnumerable<Vidly.Models.Rental>

@{
    ViewBag.Title = "List";
}

<h2>Rentals</h2>

<p>
    @Html.ActionLink("New Rental", "New", "Rentals", null, new { @class = "btn btn-primary" })
</p>
<hr />
<h5>Filtros para AJAX -> WEB API</h5>
Customer name: 
@Html.TextBox("CustomerName", "carlos osorio")
<br />
Movie name:
@Html.TextBox("MovieName", "robocop")
<br />
<hr />
<table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Movie</th>
            <th>Date Rented</th>
            <th>Date Returned</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {

            var CustomerName = $('#CustomerName').val();
            //alert(CustomerName);
            var MovieName = $('#MovieName').val();
            //alert(MovieName);

            var table = $("#rentals").DataTable({
                ajax: {
                    url: "/api/rentals?customerName=" + CustomerName + "&movieName=" + MovieName,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "customer.name"
                    },
                    {
                        data: "movie.name"
                    },
                    {
                        data: "dateRented",
                        render: function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + (month.length > 1 ? month : "0" + month) + "/" + date.getFullYear();
                        }
                    },
                    {
                        data: "dateReturned",
                        render: function (value) {
                            if (value === null) return "";

                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));

                            return date.getDate() + "/" + (month.length > 1 ? month : "0" + month) + "/" + date.getFullYear();
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button  class='btn-link js-markAsReturn' data-rental-id=" + data + ">Mark as returned</button>";
                        }
                    }
                ]
            });


            $("#movies").on("click", ".js-markAsReturn", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to mark as returned this rental?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-rental-id"),
                            method: "PUT",
                            success: function () {
                                //table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                })
            });
        });
    </script>
}